.buttonGroup {
    color: '#fff';
    background-color:white;
    margin: 5px;
    margin-left: 20px;
    color: black;
    letter-spacing: 1px;
}

.button {
    font-size: 11px !important;
    font-weight: 900 !important;
    line-height: 13px !important;
    padding: 7px !important;
    width: 80px !important;
}

.selectedButton {
    background-color: #87a7d6 !important;
    color: white !important;
}
